.container {
  width: 50%;
  height: 80%;
  border: 3px solid rgb(199, 196, 196);
  border-radius: 10px;
  margin: 10% 25%;
}

.main-heading {
  text-align: center;
}

.para {
  margin-left: 10%;
  font-size: 20px;
  font-weight: 550;
}

.radio-class {
  margin-left: 11%;
}

.span-class {
  font-size: 20px;
  font-weight: 550;
}

.submit-btn{
    width: 80%;
    margin: 5% 10%;
    height: 35px;
    background-color: rgba(17, 72, 237, 0.909);
}

.score{
  margin-left: 90%;
}